.footerTextArea{
    max-width: calc(100%);
    min-height: 100px;
    background-color: #ffffff;
    border: none;
    vertical-align: bottom;
    z-index: 0;
    margin-bottom: 10px;
}

.footerTextArea:hover {
    background-color: #d9d9d9;
}

.footerTextArea:active, .footerTextArea:focus {
    border: none;
    outline: none;
}

.footerBtn {
    height: 40px;
    box-shadow: 0 1px 1px 0 rgba(35, 44, 53, 0.08);
    background-color: #CF7650;
    color: #162836;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 700;
}

.footerBtn:hover {
    background-color: #CF7650;
    border: none;
    color: #162836;
}

.footerInput {
    width: calc(100%);
    height: 36px;
    background-color: #ffffff;
    border: none;
    vertical-align: bottom;
    z-index: 0;
    margin-bottom: 10px;
    border-radius: 4px;
}

.footerInput:hover {
    background-color: #d9d9d9;
}

.footerInput:active, .footerInput:focus {
    border: none;
    outline: none;
}